$earthW: 50vmin;
$earthS: calc(#{$earthW}/ 3);

$moonW: calc(#{$earthW}/ 4);
$moonS: calc(#{$moonW}/ 3);
$moonOrbit: calc(#{$earthW * 2});

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../img/orion.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom center;

  &:after {
    content: "";
    background: rgba(14, 5, 29, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    margin-right: 8px;
    z-index: -10;
  }

  //planets configuration

  .earth {
    background-image: url(../img/earthnight2.jpg);
    background-size: calc(#{$earthW}* 2) $earthW;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    width: $earthW;
    height: $earthW;
    margin: auto;
    border-radius: 50%;
    box-shadow: calc(#{$earthS}/ 2) 0 $earthS rgba(#000, 0.8) inset,
      calc(#{$earthS} * -0.1) 0 calc(#{$earthS} / 3) rgba(#fff, 0.7) inset;
    animation: spinCounterClockwise 20s linear infinite;
  }

  .moon {
    background-image: url(../img/cheese2.png);
    background-size: $moonW;
    position: absolute;
    z-index: 11;
    width: $moonW;
    height: $moonW;
    margin: auto;
    border-radius: 50%;
    box-shadow: $moonS 0 calc(#{$moonS}* 3) rgba(#000, 1) inset,
      calc(#{$moonS} * -0.1) 0 calc(#{$moonS} / 3) rgba(#fff, 0.7) inset;

    transform: translatex(calc(#{$earthW} - #{$moonW})) translatey($moonW);

    animation: moonOrbit 20s ease-in-out infinite,
      spinClockwise 15s linear infinite;
  }
}

//planet spin animations

@keyframes spinCounterClockwise {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: calc(#{$earthW}* 2);
  }
}
@keyframes spinClockwise {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: calc(#{$moonW}* -4);
  }
}

@keyframes moonOrbit {
  49% {
    z-index: 11;
  }
  50% {
    transform: translatex(calc((#{$earthW}* -1) + #{$moonW}))
      translatey(calc(#{$moonW}* -1));
    z-index: 0;
  }
  99% {
    z-index: 0;
  }
  100% {
    transform: translatex(calc(#{$earthW} - #{$moonW})) translatey($moonW);
    z-index: 11;
  }
}

//stars configuration
.star {
  background-color: white;
  border-radius: 50%;
  position: absolute;
  z-index: -9;
  animation: star 1.5s ease-in infinite;
}

@for $x from 1 through 14 {
  .star:nth-of-type(#{$x}) {
    animation-delay: random(10) * 0.1s;
  }
}

@keyframes star {
  0% {
    box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.05);
  }
  50% {
    box-shadow: 0 0 10px 3px rgba(255, 170, 170, 0.6);
  }
  100% {
    box-shadow: 0 0 10px 0px rgba(245, 247, 103, 0.5);
  }
}
